/* styles.css */
.container {
  top: 0;
  margin-bottom: auto;
  margin: 4px;
  border-radius: 6px;
  font-weight: 600;
  background-color: rgb(226 232 240);
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(6 182 212);
}

.span {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem;
  vertical-align: text-bottom;
  margin-left: 0.5rem;
}
