.df{
    display: flex;
}
.jcc{
    justify-content: center;
}
.alc{
    align-items: center;
}
img{
    width: 75%;
    object-fit: fill;
    border: 1px black solid;
}
.img {
    width: 75%;
    border-radius: 30%;
    background: #f2f2f3;
    margin-bottom: 0.4em;
    box-shadow: -5px -5px 8px #ffffff7a, 
                 5px 5px 8px #a9a9aa7a;
}